<p-menubar [model]="items">
  <ng-template pTemplate="start">
    <img
      src="https://images.tcdn.com.br/files/1044733/themes/13/img/settings/logo-para-o-site.png"
      height="40"
      class="p-mr-2"
      alt="logo"
    />
  </ng-template>
  <ng-template pTemplate="end">
    <span style="padding: 24px">
      <button
        pButton
        pRipple
        icon="pi pi-shopping-cart"
        class="p-button-rounded p-button-text p-button-lg"
        style="padding: 26px"
      >
        <span
          style="
            background-color: red;
            border-radius: 41px;
            color: white;
            position: absolute;
            font-size: 12pt;
            padding: 2px;
            margin-top: 5px;
            margin-left: 33px;
          "
          >{{ qtdItemCar$ | async }}</span
        >
      </button>
    </span>
  </ng-template>
</p-menubar>
<router-outlet></router-outlet>
